Library/ArtifactDB.psd filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.ptc.vuforia.engine@9.6.3/Vuforia/Plugins/ios/Vuforia.framework/Vuforia filter=lfs diff=lfs merge=lfs -text
